@font-face { 
    font-family: "BM"; 
    src: url("Resources/BMmini.TTF"); 
}

@font-face { 
    font-family: "AGI"; 
    src: url("Resources/AGITPM__.TTF"); 
}

html {
    overflow-x: hidden;
    font-family: "AGI";
}

body {
    margin: 0;
    position: relative;
}

header #logo_container{
    position: fixed;
    width: 100vw;
    height: 10vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    overflow: hidden;
}

header nav{
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vw;
}

header #back{
    position: fixed;
    width: 100vw;
    height: 10vw;
    background-color: white;
    opacity: 0.5;
}

header nav a{
    font-size: 5vw;
    color: red;
}

header ul {
    padding: 0;
    width: 100%;
}
header li {
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    height: 3vw;
}
header #logo_name{
    padding-right: 4vw;
    font-size: 6vw;
}
header #logo_other{
    padding: auto;
    font-size: 3vw;
}
header #logo_account{
    font-size: 3vw;
    padding-left: 6vw;
}
header li div{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}
#user{
    border-radius: 10vw;
}
header li img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
}

#hat #logo {
    height: 44.2vw;
    overflow: hidden;
    
}
#hat img {
    width: 100vw;
}

#info_img #back {
    height: 47vw;
    overflow: hidden;
    
}

#info_img img {
    width: 100vw;
    transform: translateY(-44vw);
}

#contact #end {
    height: 32vw;
    overflow: hidden;
    
}
#contact img {
    width: 100vw;
    transform: translateY(-90vw);
}

#info {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-family: 'BM';
}

#info button{
    font-size: 2vw;
    border: none;
    font-family: 'BM';
    font-weight: bold;
}

#lawsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}

.law {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 0.6vw solid #555;
    padding: 2vw;
    width: 40vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5vw;
}

.law h3 {
    text-align: center;
    font-size: 5vw;
    margin: 1vw;
}

.law p{
    font-size: 3vw;
    text-align: center;
}

.add_rule_but{
    background: url('Resources/access.webp') no-repeat;
    background-size: contain;
    width: 16vw;
    padding-bottom: 4vw;
    padding-top: 0.6vw;
    padding-right: 5vw;
    color: rgb(72, 6, 6);
}

.del_law_but{
    background: url('Resources/deny.webp') no-repeat;
    background-size: contain;
    width: 16vw;
    padding-bottom: 4vw;
    padding-top: 0.8vw;
    padding-right: 5vw;
    color: rgb(33, 83, 19);
}

.rule-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rule-block {
    border: 0.3vw solid #ccc;
    padding: 0.3vw;
    margin-right: 2vw;
    flex-grow: 1;
    width: 24vw;
    height: 6.4vw;
    box-sizing: border-box;
    font-size: 1.5vw;

}
.rule-block label{
    margin: 0.4vw;
}
.rule-block select{
    font-size: 2vw;
    font-family: "BM";
}

.delete-button,
.delete-row-button {
    background: url('Resources/deny.webp') no-repeat;
    background-size: contain;
    width: 16vw;
    padding-bottom: 4vw;
    padding-top: 0.8vw;
    padding-right: 5vw;
    color: rgb(33, 83, 19);
}

#ruleTypeModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#ruleTypeModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2vw;
    border: 1px solid #888;
    width: 35vw;
}

#ruleTypeModalContent p{
    font-size: 3vw;
    margin: 2vw 0;
    text-align: center;
}

#ruleTypeModalContent button{
    margin: 1vw;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    box-sizing: border-box;
}

#tips{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#tips h3{
    font-size: 10vw;
    margin: 1vw;
}
#tips p{
    font-size: 4vw;
    margin: 1vw;
}

#tips img{
    width: 100vw;
}

hr{
    width: 90%;
    margin: 0.5vw;
    transform: translateX(5%);
}